<button class="btn back" routerLink="/home">Back</button>

<h2>Sign Up</h2>
<form action="">
  <div class="form-element">
    <label for="username">Username</label>
    <input id="username" type="text">
  </div>
  <div class="form-element">
    <label for="email">Email</label>
    <input id="email" type="email">
  </div>
  <div class="form-element">
    <label for="password">Password</label>
    <input id="password" type="password">
  </div>
  <button class="btn primary" type="submit">Sign Up Now</button>
</form>
