.details {
  position: absolute;
  z-index: 120;
  bottom: 80px;
  left: 7vw;
  color: #fff;
  /*text-shadow: 2px 2px 50px #000;*/
}
.details .username {
  font-size: 30px;
  font-weight: bold;
}
.details > * {
  display: inline-block;
}
.picture {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
