<div class="container">
  <app-profile-card class="card" *ngFor="let card of cards" [name]="card"></app-profile-card>
  <!--<div id="controls">-->
    <!--<button class="pass"><i class="fas fa-times"></i></button>-->
    <!--<button class="special"><i class="fas fa-star"></i></button>-->
    <!--<button class="like"><i class="fas fa-heart"></i></button>-->
  <!--</div>-->
  <button class="profile" routerLink="/profile"><i class="fas fa-user"></i></button>
  <button class="settings" routerLink="/settings"><i class="fas fa-sliders-h"></i></button>
  <button class="messages" routerLink="/messages"><i class="fas fa-comment-alt"></i></button>
  <div class="fade_top"></div>
  <div class="fade_bot"></div>
</div>

